html {
    background-color: #005696;
}

strong {
    font-weight: bold;
}

BODY {
    background-image: url(/scoutinghub/images/bkg.gif);
    background-color: #005696;
    background-repeat: repeat-x;
    background-repeat: repeat-x;
}

BODY .mainBody {
    BACKGROUND-IMAGE: url(/scoutinghub/images/bkg.gif);
    BACKGROUND-COLOR: #005696;
    BACKGROUND-REPEAT: repeat-x;
    min-height: 720px;

    TEXT-ALIGN: center;
    PADDING-BOTTOM: 30px;

    /*BACKGROUND-COLOR: #eee;*/

    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    /*BACKGROUND-REPEAT: repeat-y;*/
    PADDING-TOP: 0px
}

#logo {
    /*PADDING-BOTTOM: 5px;*/
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
    width: 950px;
    height: 129px;
}

.logoBar {
    /*float: left;*/
    /*vertical-align: bottom;*/

}

#outer {
    POSITION: relative;
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px auto;
    PADDING-LEFT: 0px;
    WIDTH: 950px;
    PADDING-RIGHT: 0px;
    BACKGROUND: #fff;
    PADDING-TOP: 0px; /*-moz-border-radius: 8px;*/

}

.shadow, #outer {
    box-shadow: 2px 2px 2px #777;
    -moz-box-shadow: 2px 2px 2px #777;
    -webkit-box-shadow: 2px 2px 2px #777;
}

.error ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
    list-style: none;
}

.error li {
    list-style: none;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

#content {
    padding: 15px;
}

BODY {
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #252525;
    FONT-SIZE: 13px
}

TH {
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #252525;
    FONT-SIZE: 13px
}

TD {
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #252525;
    FONT-SIZE: 13px
}

H1 {
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #252525;
    font-size: 18px;
    padding: 5px;
    margin: 0px;
    font-weight: bold;
}

.noshow {
    display: none;
}

#dialog .prop {
    float: none;
    vertical-align: middle;
    line-height: 20px;
    margin-left: 10px;
}

.prop .propLabel {
    padding-left: 5px;
}

.prop div {
    float: none !important;
    line-height: 20px;
}

.buttons {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #CCC;
}

.admin-permission {
    font-weight: bold;
}

.nav {
    margin-bottom: 10px;
    text-align: right;
}

.menuButton a {
    padding: 5px;
    text-decoration: none;
}

th {
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
}

.home {
    display: none;
}

H2 {
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #252525;
    FONT-SIZE: 13px;
    font-weight: bold;
}

H3 {
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #252525;
    FONT-SIZE: 13px
}

H4 {
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #252525;
    FONT-SIZE: 13px
}

H5 {
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #252525;
    FONT-SIZE: 13px
}

H6 {
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #252525;
    FONT-SIZE: 13px
}

SELECT {
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #252525;
    FONT-SIZE: 13px
}

INPUT {
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #252525;
    FONT-SIZE: 13px
}

TEXTAREA {
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #252525;
    FONT-SIZE: 13px
}

BODY {
    LINE-HEIGHT: 16px
}

TH {
    LINE-HEIGHT: 16px
}

TD {
    LINE-HEIGHT: 16px
}

H1 {
    LINE-HEIGHT: 16px
}

H2 {
    LINE-HEIGHT: 16px
}

H3 {
    LINE-HEIGHT: 16px
}

H4 {
    LINE-HEIGHT: 16px
}

H5 {
    LINE-HEIGHT: 16px
}

H6 {
    LINE-HEIGHT: 16px
}

H2 {
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

H3 {
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

H4 {
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

H5 {
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

H6 {
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

H2 {
    MARGIN-BOTTOM: 10px;
    FONT-SIZE: 14px
}

IMG {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px
}

TABLE {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px
}

FIELDSET {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px
}

#navigation UL {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    LIST-STYLE-IMAGE: none;
    PADDING-TOP: 0px
}

#navigation UL LI {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    LIST-STYLE-IMAGE: none;
    PADDING-TOP: 0px
}

P {
    MARGIN: 0px 0px 1.5em
}

A {
    COLOR: #737373
}

.hide {
    DISPLAY: none
}

.alert {
    COLOR: #d00
}

.small {
    FONT-SIZE: 10px
}

.center {
    TEXT-ALIGN: center
}

.right {
    TEXT-ALIGN: right
}

.floatleft {
    MARGIN: 0px 15px 0px 0px;
    FLOAT: left
}

.floatright {
    MARGIN: 0px 0px 0px 15px;
    FLOAT: right
}

.imgleft {
    MARGIN: 0px 15px 15px 0px;
    FLOAT: left
}

.imgright {
    MARGIN: 0px 0px 15px 15px;
    FLOAT: right
}

.spacer {
    FLOAT: none;
    HEIGHT: 1px;
    CLEAR: both;
    OVERFLOW: hidden
}

.ir {
    POSITION: absolute;
    WIDTH: 100%;
    DISPLAY: block;
    HEIGHT: 100%;
    TOP: 0px;
    LEFT: 0px
}

A .ir {
    CURSOR: pointer
}

#top {
    POSITION: relative;
    HEIGHT: 80px
}

#top H1 {
    MARGIN: 0px
}

#top H1 A {
    POSITION: absolute;
    TEXT-ALIGN: center;
    LINE-HEIGHT: 80px;
    WIDTH: 250px;
    HEIGHT: 80px;
    FONT-SIZE: 20px;
    TOP: 0px;
    LEFT: 0px
}

#top H1 A .ir {
    BACKGROUND: url(Images/design/logo.gif) #fff no-repeat 17px 28px
}

#top H2 {
    POSITION: absolute;
    TEXT-ALIGN: right;
    LINE-HEIGHT: 20px;
    MARGIN: 0px;
    WIDTH: 200px;
    BOTTOM: 15px;
    FONT-FAMILY: arial, sans-serif;
    HEIGHT: 20px;
    COLOR: #ccc;
    FONT-SIZE: 19px;
    RIGHT: 15px
}

#top H2 .ir {
    BACKGROUND: url(Images/design/top-h2.gif) #fff no-repeat right bottom
}

#top H2 .superscript {
    FONT-SIZE: x-small;
    VERTICAL-ALIGN: top
}

#top UL {
    POSITION: absolute;
    LINE-HEIGHT: 13px;
    FONT-SIZE: 11px;
    OVERFLOW: hidden;
    TOP: 15px;
    RIGHT: 14px
}

#top LI {
    POSITION: relative;
    BORDER-LEFT: #069 1px solid;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    FLOAT: left;
    RIGHT: 1px;
    PADDING-TOP: 0px
}

#top A {
    COLOR: #069
}

#navigation {
    BACKGROUND-COLOR: #005696;
    HEIGHT: 40px
}

#navigation UL {
    LINE-HEIGHT: 40px;
    FONT-SIZE: 18px
}

#navigation LI {
    FLOAT: left;
    BORDER-RIGHT: #fff 1px solid;
    min-width: 97px;
    text-align: center;
}

#navigation A {
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    DISPLAY: block;
    COLOR: #fff;
    TEXT-DECORATION: none;
    PADDING-TOP: 0px
}

#navigation LI.on A {
    COLOR: #005696 !important;
    TEXT-DECORATION: none
}

#navigation A:hover {
    COLOR: #91b6d2;
    TEXT-DECORATION: none
}

#navigation LI.on A {
    BACKGROUND: #91b6d2
}

#subnav {
    BORDER-BOTTOM: #e1e1e1 1px solid;
    LINE-HEIGHT: 29px;
    BACKGROUND: url(/_layouts/1033/Images/design/subnav.gif) #eee;
    HEIGHT: 29px
}

#subnav LI {
    FLOAT: left;
    BORDER-RIGHT: #e1e1e1 1px solid
}

#subnav A {
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    DISPLAY: block;
    COLOR: #666;
    PADDING-TOP: 0px
}

#subnav A:hover {
    TEXT-DECORATION: none
}

#subnav LI.on A {
    BACKGROUND: #fff;
    COLOR: #069
}

#welcomeLogin {
    WIDTH: 250px;
    PADDING-RIGHT: 15px;
    FLOAT: right
}

#top-nav {
    WIDTH: 100%;
    FONT-SIZE: 16px;
    height: 25px;
    background-color: #E8E8E8;
}

#top-nav UL {
    LIST-STYLE-TYPE: none background-color: red;
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    LIST-STYLE-IMAGE: none;
    PADDING-TOP: 0px
}

#top-nav LI {

    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    DISPLAY: block;
    FLOAT: left;
    PADDING-TOP: 0px
}

#top-nav LI A {
    TEXT-ALIGN: right;
    LINE-HEIGHT: 25px;
    DISPLAY: block;
    COLOR: #737373;
    TEXT-DECORATION: none
}

#top-nav LI A:hover {
    COLOR: #000000
}

.clear {
    CLEAR: both
}

#leftColumn {
    PADDING-LEFT: 5px;
    WIDTH: 175px;
    FLOAT: left;
    MARGIN-RIGHT: 10px;
    PADDING-TOP: 5px
}

#rightColumn {
    MARGIN: 0px;
    WIDTH: 600px;
    FLOAT: left;
    HEIGHT: 1%;
    PADDING-TOP: 5px
}

#bsafooter {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 30px; /*MARGIN-TOP: 10px;*/
    vertical-align: middle;
    margin: auto;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    background-color: #f1e4c2;
    FONT-SIZE: 10px;
    BORDER-TOP: #8e877f 1px solid; /*PADDING-TOP: 8px*/
}

.footer-version {
    color: #777;
    font-size: 10px;
}

#bsafooter H3 {
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 40px;
    PADDING-RIGHT: 0px;

    DISPLAY: inline;
    COLOR: #8e877f;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    PADDING-TOP: 0px
}

#bsafooter H3 A {
    COLOR: #8e877f
}

#bsafooter H3 A:hover {
    COLOR: #68635d
}

#bsafooter-nav {
    FLOAT: right
}

#bsafooter-nav UL {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 10px;
    FONT-SIZE: 10px;
    PADDING-TOP: 0px
}

#bsafooter-nav LI {
    BORDER-LEFT: #8e877f 1px solid;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 10px;
    MARGIN: 5px 0px;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    DISPLAY: block;
    FLOAT: left;
    PADDING-TOP: 0px
}

#bsafooter-nav LI A {
    COLOR: #8e877f;
    TEXT-DECORATION: none
}

#bsafooter-nav LI A:hover {
    COLOR: #68635d
}

.zz1_QuickLaunchMenu_1 ms-navitem zz1_QuickLaunchMenu_5 A {
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #737373
}

.zz1_QuickLaunchMenu_4 {
    LINE-HEIGHT: 1.3;
    WIDTH: 173px;
    COLOR: #1f4361;
    BORDER-TOP: #1f4361 1px solid;
    TEXT-DECORATION: none
}

.ms-quicklaunch TABLE.ms-navheader TD {
    BORDER-LEFT: #f2f8ff 1px solid;
    PADDING-BOTTOM: 4px;
    BACKGROUND-COLOR: #d6e8ff;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #f2f8ff 1px solid;
    PADDING-TOP: 1px
}

.ms-navheader2 TD {
    BORDER-LEFT: #f2f8ff 1px solid;
    PADDING-BOTTOM: 4px;
    BACKGROUND-COLOR: #d6e8ff;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #f2f8ff 1px solid;
    PADDING-TOP: 1px
}

.ms-quicklaunch SPAN.ms-navheader {
    BORDER-LEFT: #f2f8ff 1px solid;
    PADDING-BOTTOM: 4px;
    BACKGROUND-COLOR: #d6e8ff;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #f2f8ff 1px solid;
    PADDING-TOP: 1px
}

.ms-quicklaunch SPAN.ms-navheader {
    BORDER-BOTTOM: #add1ff 1px solid;
    BORDER-LEFT: #f2f8ff 1px solid;
    PADDING-BOTTOM: 3px;
    BACKGROUND-COLOR: #d6e8ff;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    BORDER-TOP: #add1ff 1px solid;
    PADDING-TOP: 1px
}

.ms-navheader A {
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 0px;
    COLOR: #1f4361;
    FONT-SIZE: 16px;
    FONT-WEIGHT: normal;
    PADDING-TOP: 6px
}

.ms-navheader2 A {
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 0px;
    COLOR: #1f4361;
    FONT-SIZE: 16px;
    FONT-WEIGHT: normal;
    PADDING-TOP: 6px
}

.ms-navheader A:hover {
    COLOR: #1f4361;
    TEXT-DECORATION: none
}

.ms-navheader2 A:hover {
    COLOR: #1f4361;
    TEXT-DECORATION: none
}

TABLE.ms-navitem TD {
    BACKGROUND-IMAGE: none;
    PADDING-BOTTOM: 4px;
    PADDING-LEFT: 16px;
    PADDING-RIGHT: 6px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-POSITION: left top;
    PADDING-TOP: 3px
}

SPAN.ms-navitem {
    BACKGROUND-IMAGE: none;
    PADDING-BOTTOM: 4px;
    PADDING-LEFT: 16px;
    PADDING-RIGHT: 6px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-POSITION: left top;
    PADDING-TOP: 3px
}

.ms-navItem A {
    COLOR: #737373;
    TEXT-DECORATION: none
}

ms-navitem A:active {
    COLOR: #737373;
    TEXT-DECORATION: none
}

.ms-navitem A:visited {
    COLOR: #737373;
    TEXT-DECORATION: none
}

.ms-navItem A:hover {
    COLOR: #000000;
    TEXT-DECORATION: none
}

.ms-selectednav {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BACKGROUND-COLOR: transparent;
    COLOR: #1f4361;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px
}

.zz2_QuickLaunchMenu_1 {
    LIST-STYLE-TYPE: none;
    COLOR: #737373;
    LIST-STYLE-IMAGE: none
}

.zz2_QuickLaunchMenu_1 A:hover {
    COLOR: red
}

.ms-pagebreadcrumb {
    BACKGROUND-COLOR: transparent;
    MARGIN-TOP: 10px
}

#breadcrumb {
    BORDER-BOTTOM: #2c4e6a 1px solid;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    COLOR: #737373;
    PADDING-TOP: 8px
}

#breadcrumb IMG {
    PADDING-RIGHT: 5px
}

#crumb {
    BORDER-LEFT: #2c4e6a 1px solid;
    PADDING-LEFT: 5px
}

#crumb A {
    COLOR: #737373;
    TEXT-DECORATION: none
}

.crumb A:hover {
    COLOR: #333333
}

.active {
    COLOR: #333333;
    TEXT-DECORATION: none
}

.active A:hover {
    COLOR: #333333
}

.ms-sitemapdirectional {
    BACKGROUND-COLOR: transparent
}

.ms-siteaction {
    FONT: bold 8pt tahoma;
    HEIGHT: 10px;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}

.ms-siteaction A {
    FONT: bold 8pt tahoma;
    HEIGHT: 10px;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}

.ms-siteactionsmenu {
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT: 8pt tahoma;
    WHITE-SPACE: nowrap;
    COLOR: #ffffff;
    BORDER-TOP: medium none;
    CURSOR: pointer;
    BORDER-RIGHT: medium none;
    PADDING-TOP: 0px
}

.ms-HoverCellActive {
    BACKGROUND-IMAGE: none;
    BORDER-BOTTOM: #ffffff 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BACKGROUND-COLOR: #ffffff;
    VERTICAL-ALIGN: top;
    BORDER-TOP: #ffffff 1px solid;
    BORDER-RIGHT: #ffffff 1px solid
}

.ms-SpLinkButtonActive {
    BACKGROUND-IMAGE: none;
    BORDER-BOTTOM: #ffffff 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BACKGROUND-COLOR: #ffffff;
    VERTICAL-ALIGN: top;
    BORDER-TOP: #ffffff 1px solid;
    BORDER-RIGHT: #ffffff 1px solid
}

TD.ms-sbgo {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px
}

TD.ms-sbcell {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px
}

.ms-sbplain {
    BORDER-BOTTOM: #a9a9a9 1px solid;
    BORDER-LEFT: #a9a9a9 1px solid;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    WIDTH: 130px;
    PADDING-RIGHT: 0px;
    BACKGROUND: #e1e1e1;
    HEIGHT: 17px;
    COLOR: #737373;
    BORDER-TOP: #a9a9a9 1px solid;
    BORDER-RIGHT: #a9a9a9 1px solid;
    PADDING-TOP: 3px
}

.ms-HoverCellActive {
    COLOR: #333333
}

.ms-SpLinkButtonActive {
    COLOR: #333333
}

#left-column {
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    WIDTH: 175px;
    PADDING-RIGHT: 5px;
    DISPLAY: inline;
    FLOAT: left;
    PADDING-TOP: 0px
}

#left-open {
    BACKGROUND-IMAGE: url(/_layouts/1033/Images/BsaMyScouting/left-nav-top.gif);
    WIDTH: 175px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: center top;
    HEIGHT: 15px
}

#left-column-inner {
    BORDER-LEFT: #cac9c9 1px solid;
    BACKGROUND-COLOR: #f1f0f0;
    BORDER-RIGHT: #cac9c9 1px solid
}

#left-element {

}

#left-element UL {
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    COLOR: #1f4361;
    FONT-SIZE: 14px;
    PADDING-TOP: 5px
}

#left-element UL A {
    LINE-HEIGHT: 1.3;
    COLOR: #1f4361;
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}

#left-element UL A:hover {
    COLOR: #000000
}

#left-element LI A {
    LIST-STYLE-POSITION: inside;
    COLOR: #737373;
    MARGIN-LEFT: 10px;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

#left-element LI A:hover {
    COLOR: #333333
}

#left-element P {

}

#left-close {
    BACKGROUND-IMAGE: url(/_layouts/1033/Images/BsaMyScouting/left-nav-btm.gif);
    WIDTH: 175px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: center bottom;
    MARGIN-BOTTOM: 10px;
    HEIGHT: 15px
}

#leftColumn3 {
    WIDTH: 267px;
    FLOAT: left
}

#middleColumn3 {
    WIDTH: 227px;
    FLOAT: left;
    MARGIN-LEFT: 10px
}

#rightColumn3 {
    MARGIN: 0px 0px 0px 10px;
    WIDTH: 217px;
    FLOAT: left;
    HEIGHT: 1%
}

#leftColumn2 {
    WIDTH: 504px;
    FLOAT: left
}

#rightColumn2 {
    WIDTH: 217px;
    FLOAT: left;
    HEIGHT: 1%;
    MARGIN-LEFT: 10px
}

.quickLinks {
    PADDING-BOTTOM: 5px
}

#right-element-top {
    BACKGROUND-IMAGE: url(/_layouts/1033/Images/BsaMyScouting/right-top.gif);
    WIDTH: 216px;
    BACKGROUND-REPEAT: no-repeat
}

#right-element {
    BORDER-LEFT: #cac9c9 1px solid;
    PADDING-BOTTOM: 5px;
    BACKGROUND-COLOR: #f1f0f0;
    PADDING-LEFT: 10px;
    WIDTH: 203px;
    MARGIN-LEFT: 1px;
    BORDER-RIGHT: #cac9c9 1px solid;
    PADDING-TOP: 10px
}

#right-element-top H3 {
    BORDER-BOTTOM: #2c4e6a 1px solid;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 5px;
    COLOR: #1f4361;
    MARGIN-LEFT: 2px;
    FONT-SIZE: 14px;
    PADDING-TOP: 8px
}

#right-element-top H3 A {
    TEXT-TRANSFORM: lowercase;
    FONT-VARIANT: small-caps;
    COLOR: #1f4361;
    FONT-SIZE: 14px;
    BORDER-RIGHT: medium none;
    TEXT-DECORATION: none
}

#right-element UL {
    BORDER-LEFT: #cac9c9 1px solid;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 1.2;
    BACKGROUND-COLOR: #f1f0f0;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    COLOR: #1f4361;
    FONT-SIZE: 14px;
    BORDER-RIGHT: #cac9c9 1px solid;
    PADDING-TOP: 5px
}

#right-element UL A {
    LINE-HEIGHT: 1.3;
    COLOR: #1f4361;
    FONT-SIZE: 14px
}

#right-element LI {
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 0px
}

#right-element LI A {
    COLOR: #737373;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

#right-element UL A:hover {
    COLOR: #000000
}

#right-element LI A:hover {
    COLOR: #333333
}

#right-element P {
    PADDING-BOTTOM: 5px;
    LINE-HEIGHT: 1.4;
    BACKGROUND-COLOR: #f1f0f0;
    PADDING-LEFT: 5px;
    WIDTH: 210px;
    PADDING-RIGHT: 0px;
    COLOR: #737373;
    FONT-SIZE: 12px;
    MARGIN-RIGHT: 2px;
    PADDING-TOP: 10px
}

#right-element A {
    COLOR: #1f4361;
    TEXT-DECORATION: none
}

#right-element A:hover {
    COLOR: #005696
}

#right-close {
    BACKGROUND-IMAGE: url(/_layouts/1033/Images/BsaMyScouting/right-btm.gif);
    WIDTH: 215px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: center bottom;
    MARGIN-BOTTOM: 10px;
    HEIGHT: 15px;
    MARGIN-LEFT: 1px
}

.ms-WPHeader TD:first-child {
    BACKGROUND-IMAGE: url(/_layouts/1033/Images/BsaMyScouting/right-top.gif);
    BORDER-BOTTOM: #4e7cb7 1px solid;
    WIDTH: 215px;
    BORDER-COLLAPSE: collapse;
    BACKGROUND-REPEAT: no-repeat
}

.ms-WPTitle {
    PADDING-BOTTOM: 2px;
    TEXT-TRANSFORM: lowercase;
    FONT-VARIANT: small-caps;
    PADDING-LEFT: 12px;
    PADDING-RIGHT: 7px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    COLOR: #1f4361;
    FONT-SIZE: 14px;
    FONT-WEIGHT: 700;
    PADDING-TOP: 5px
}

.ms-WPTitle A:link {
    COLOR: #1f4361;
    CURSOR: pointer;
    TEXT-DECORATION: none
}

.ms-WPTitle A:visited {
    COLOR: #1f4361;
    CURSOR: pointer;
    TEXT-DECORATION: none
}

.ms-WPTitle A:hover {
    COLOR: #000000;
    CURSOR: pointer;
    TEXT-DECORATION: underline
}

.ms-WPBody {
    BACKGROUND-IMAGE: url(/_layouts/1033/Images/BsaMyScouting/right-btm-tall.gif);
    PADDING-BOTTOM: 20px;
    PADDING-LEFT: 10px;
    WIDTH: 215px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: left bottom;
    MARGIN-LEFT: 1px
}

.ms-WPBorder {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px
}

.wp-content description {
    WIDTH: 205px
}

.ms-toolbarContainer {
    WIDTH: 195px
}

.slm-layout-main {
    WIDTH: 195px
}

.slm-layout-main A {
    COLOR: #737373;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.slm-layout-main A:link {
    COLOR: #737373;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.slm-layout-main A:active {
    COLOR: #737373;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.slm-layout-main A:visited {
    COLOR: #737373;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.slm-layout-main A:hover {
    COLOR: #333333;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

H1.loginTitle {
    BORDER-BOTTOM: #1f4361 1px solid;
    MARGIN-BOTTOM: 10px;
    COLOR: #1f4361
}

H3.loginSubTitle {
    COLOR: #1f4361;
    FONT-SIZE: 14px
}

P.loginText {
    COLOR: #737373
}

.registerArea {
    BORDER-BOTTOM: #666666 1px solid;
    BORDER-LEFT: #666666 1px solid;
    PADDING-BOTTOM: 5px;
    BACKGROUND-COLOR: #ffffe1;
    PADDING-LEFT: 5px;
    WIDTH: 200px;
    PADDING-RIGHT: 5px;
    COLOR: #666666;
    FONT-SIZE: 80%;
    BORDER-TOP: #666666 1px solid;
    BORDER-RIGHT: #666666 1px solid;
    PADDING-TOP: 5px
}

H4.registerTitle {
    BORDER-BOTTOM: #666666 1px solid;
    COLOR: #666666;
    FONT-SIZE: 12px
}

input.alternate-color {
    background-color: white;
}

input {
    font-size: 16px;
    line-height: 24px;
}

.fieldLabel {
    COLOR: #000000;
    FONT-WEIGHT: bold;
}

.errorMessage {
    COLOR: red;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold
}

.messageLabel {
    COLOR: #666666;
    FONT-WEIGHT: bold
}

.bsaLabel {
    COLOR: #000
}

.bsaButton {
    BORDER-BOTTOM: #ccc 1px solid;
    BORDER-LEFT: #ccc 1px solid;
    BACKGROUND-COLOR: #005696;
    COLOR: #fff;
    BORDER-TOP: #ccc 1px solid;
    BORDER-RIGHT: #ccc 1px solid
}

.biglabel {
    font-size: 14px;
}

.loginForm {
    font-size: 24px;
}

.regularForm {
    font-size: 16px;
}

.fldContainer {
    margin-bottom: 15px;
    text-align: center; /*float:left;*/
    margin-left: auto;
    margin-right: auto;

}

.fldContainer .fldInput, .selecter {
    width: 300px;
}

.selecter {
    width: 254px;

}

.selecter-container {
    width: 300px;
    text-align: center;
}

.fldContainerOuter {
    text-align: center;
    position: relative;
}

.progress {
    min-width: 150px;
}

.progressMsg {
    position: absolute;
    padding-left: 5px;
    margin: auto;

}

.login_message {
    color: #990000;
}

.explain {
    font-size: 14px;
    margin-bottom: 20px;
}

.errors {
    color: red;
}

.padded {
    padding: 10px;
}

.tooltip {
    display:none;
}

.tooltip-display {
    font-size: 14px !important;
    line-height: 20px !important;
    text-align: center !important;
}

.registration {
    width: 500px;
}


.info, .success, .warning, .error, .star, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 85px;
    background-repeat: no-repeat;
    background-position: 10px center;
    text-align: left;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/scoutinghub/images/info.png');
}

.star {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/scoutinghub/images/star.png');
}

.search-for-unit {
    padding: 10px;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/scoutinghub/images/warning.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/scoutinghub/images/error.png');
}

.warningIcon {
    background-image: url('/scoutinghub/images/warning.png');
    border-color: #666;
}

.errorIcon, .error {
    background-image: url('/scoutinghub/images/error.png');
    border-color: #666;
}

.success, .successIcon {
    background-image: url('/scoutinghub/images/success.png');
    border-color: #666;
}

.profileCertificationContainer {
    /*overflow: hidden;*/
    /*width: 100%;*/

    /*width: 425px;*/
    float: left;
}

.next {
    /*position:relative;*/
    /*left: -48px;*/
    float: right;
    width: 20px;
}

.profileCertification {
    padding: 0px 10px 10px 35px;
    margin-left: 10px;
    margin-top: 10px;
    height: 60px;
    width: 390px;
    background-repeat: no-repeat;
    background-position: left top;

}

.training-filter {
    width:100%;
}
.training-header {
    padding: 5px;
    font-size: 14px;
}

.training-report-item {
    display: table-row;
}

.training-result-table {
    display: table;
    width: 100%;
}

.training-report-name {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    padding: 3px;
    width:250px;
    white-space: nowrap;
}

.training-report-type {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    padding: 3px;
    white-space: nowrap;
}

.training-report-data {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    width:300px;
}

.trainingReportUnit {

}

.training-incomplete {
    background-image: url('/scoutinghub/images/training-incomplete.png');
    background-repeat: no-repeat;
}

.training-complete {
    background-image: url('/scoutinghub/images/training-complete.png');
    background-repeat: no-repeat;
}

.trainingStatus {
    float: left;
}

.tr {
    display:table-row;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

table tr td {
    padding: 3px;
}

.trainingReportBar {
    /*line-height:40px;*/
    /*height:40px;*/
    height: 25px;

}

/*div.currentTraining {*/
/*padding-left: 10px;*/
/**/
/*height: 100%;*/
/*}*/

.learn-more-button {
    padding: 2px;
}

.msg1 {
    font-size: 16px;
    margin-bottom: 5px;
}

.msg2 {
    font-size: 13px;
    margin-bottom: 10px;
}

.duplicate-results div div {
    white-space: nowrap;
    display: table-cell;
    padding-left: 6px;
    padding-right: 6px;
}

.duplicate-results .header {
    font-weight: bold;
}

.duplicate-results div {
    display: table-row;
}

div.link {
    padding-left: 10px;
    padding-top: 10px;
}

a.buttonLink {

    margin-left: 25px;
}

.leader-unit {
    font-size: 15px;
    height: 45px;
}

.remove-button {
    font-size: 12px;
    padding-left: 16px;
    margin: 0px;
    text-decoration: none;
    /*background-image: url('../images/knobs/PNG/Knob Remove Red.png')*/
}

.leader-unit {
    display: inline-block !important;
    list-style: none;
    list-style-type: none;
}

ul.property-list {
    margin: 0px;

}

.property-list .prop, div.profile .prop, div.profile .leader-unit {
    display: table-cell;
    padding: 10px;
}


.leaderResult .prop, .unitResult .prop {
    display: block !important;
    padding: 5px !important;
}

a.manage-this-unit {
    font-size: 13px;
}

.leader-unit, .prop {
    width: 432px;
    /*float: left;*/
    /*margin-bottom: 10px;*/
    text-align: left;
    vertical-align: middle;
}

.leader-unit-position {
    margin-bottom: 4px;
    line-height: 16px;
}

.leader-unit-position, .propLabel, .training-title {
    color: #194782;
}

.prop {
    list-style: none;
    list-style-type: none;
    font-size: 15px;
    display: table-row;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

.propLabel {
    display: table-cell;
    width: 120px;
    white-space: nowrap;
    margin-right: 10px;
    padding-right: 10px;
}

.prop-container, .prop-container .prop {
    float: none;
}

.propData, .headerText {
    /*font-weight: bold;*/
    /*font-size: 18px;*/
    display: table-cell;
}

.propData a {
    font-size: 14px;
}

.propTable .prop {
    float: none; /*overflow: hidden;*/
}

.propTable .propLabel {
    float: left;
    width: 100px;
    white-space: nowrap;
}

.propTable .propData {
    font-size: 16px;
    white-space: nowrap;
    font-weight: normal;

}

.groupSection {
    padding-left: 12px;
    margin-bottom: 10px;
}

.toolboxItem {
    margin-bottom: 4px;
}

table.recordTable td {
    padding-left: 12px;
    padding-bottom: 12px;
}

.tableHeader {
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
}

td.tabular {
    padding: 3px;
    font-size: 14px;
}

.name {
    white-space: nowrap;
    font-size: 16px;
    text-align: right
}

.value {
    font-size: 16px;
}

.missing-training {
    color: #FF0000;
}

.addressProperty {
    font-weight: normal;
    font-size: 13px;

}

a.register-for-training {
    /*color: #512C2B;*/
    font-size: 11px;
    padding: 0px;
    margin: 0px;
}

ul.vertical-form {
    display: table;
    width: 100%;
}

ul.vertical-form li.prop {
    display: table-row !important;
}

ul.vertical-form li.prop div {
    padding: 5px;
}

.register-header {
    /*padding-left: 18px;*/
    padding-top: 3px;
    margin-left: 18px;
    color: #222;

}

.training-class {
    color: #977755;
    /*padding-left: 10px;*/
    width: 100%;
    overflow: hidden;
    text-overflow: ellipses;
    white-space: nowrap;
}

.ui-button-style {
    text-decoration: none;
    padding: 4px; /*margin:14px;*/
    display: inline-block;
}

ui-dialog-title {
    font-size: 16px
}

.training-title {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.training-details {
    margin-left: 15px;
    margin-top: 4px;
    float: left;
    text-align: left;
}

.rememberMe {
    float: right;
    vertical-align: middle;
    display: inline-block;
    height: 25px;
    position: relative; /*line-height: 25px;*/
}

.content {
    overflow: auto;
    overflow: hidden;
}

span.chk-label {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;

    height: 25px;
}

span.chk-input {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    padding-right: 5px;
    height: 25px;
}

.twoContent {
    width: 700px;
    display: table;
}

.vcenter {
    height: 100%;
    vertical-align: middle;
    margin: auto;
}

.twoRow {
    display: table-row;
}

.twoSection {
    /*float: left;*/
    width: 335px; /*padding-left:90px;*/
    /*width: 50%; *//*padding-left:90px;*/
    /*padding: 10px;*/

    display: table-cell;
    margin: auto;
    text-align: center;
}

.authWidth {
    width: 290px;
}

.loginPlusRememberMe {
    text-align: left !important;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
}

.text .fldInput {
    width: 290px;
}

.text {
    font-size: 14px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
}

h1.ui-widget-header {
    font-size: 16px;
    padding: 6px;
}

.floatContent {
    width: 100%;
}

ul.list {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 40px;
}

ul.list li {
    list-style: disc;
    list-style-type: disc;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.floatSection {
    /*display:inline-block;*/
    width: 100%;
    margin-left: 10px;
    overflow: hidden;
}

.property-list {
    display: table;
}

ul.property-list {
    list-style: none;
    list-style-type: none;
}

.singleColumn {
    margin: auto;
    width: 450px;

}

.radiobutton {
    margin-bottom: 10px;
}

.radiobutton .name {
    width: 150px;
    overflow: hidden;
    float: left;
    text-align: left;
}

.unit-selector-style {
    /*This should be added back if being used with the selector tree*/
    /*margin-bottom:0px;*/
    /*font-size: 18px;*/
    /*line-height: 18px;*/
    width: 300px;
}

.unitSelector .fldInput {
    font-size: 16px;
}

.unitSelectTree {
    text-align: left;
    margin-bottom: 15px; /*width:300px;*/
}

.leaderResult, .unitResult {
    overflow: hidden;
    padding: 0px;
    background-color: white;
    margin-bottom: 15px;
}

#leaderQuery {
    font-size: 20px;
    width: 180px;
}

.leaderResultAccept {
    border-color: red;
    border-width: 2px;
}

a.leaderProfileLink {
    font-size: 14px;
}

.edit-profile .fldContainer input {
    font-size: 20px;
    width: 240px;
}

#profileSubmit {
    float: none;
}

.edit-profile .fldContainer {
    float: left;
    width: 410px;
    display: inline-block;
    padding-left: 10px;
}

.leaderName {
    background-color: #E8E8E8;
    font-size: 16px;
    padding: 5px;
}

.leaderResult .no-permission {
    background-color: #CCC;
    background-image: none;
    color: #FFF;
}

.has-permission .leaderName {
    cursor: move;
}

.unitName {
    background-color: #E8E8E8;
    font-size: 16px;
    padding: 5px;

}

.centered {
    text-align: center;
}

.mergePage {
    text-align: center;
}

.mergeContainer {
    text-align: center;
    display: table;
    width: 100%;
}

.mergeRow {
    display: table-row;
}

.merge {
    display: table-cell;
    text-align: center;
    width: 50%;
}

.big-button {
    font-size: 20px;
    padding: 12px;
    text-decoration: none;
    white-space: nowrap;
}

.big-button-container {
    margin: 24px;
}

span.header-icon {
    /*background-image:url("../js/jquery-ui-1.8.11.custom/css/start/images/ui-icons_d8e7f3_256x240.png") !important;*/

    /*z-index:5000;*/
    float: right; /*width:20px;*/
    /*line-height:20px;*/
}

.section {
    position: relative;
    margin-bottom: 40px;
}

#dialog .section {
    margin-bottom: 10px;
}

#dialog .prop div {
    padding: 5px;
}

.section-header {
    border-bottom: 1px solid #025a99;
}

.section-header div.h1 {
    width: 450px;
}

.section-header {
    font-size: 20px;
    border-bottom: 1px solid #025a99;
    color: #025a99;
    vertical-align: middle;
    /*margin-bottom: 5px;*/
    line-height: 25px;

}

.header-icon {
    line-height: 32px;
    padding-left: 38px;
    background-repeat: no-repeat;
    text-align: left;
    z-index: -400;
}

.profile-icon {
    background-image: url("/scoutinghub/images/profile-icon.png");
}

.training-icon {
    background-image: url("/scoutinghub/images/training-icon.png");
}

.units-icon {
    background-image: url("/scoutinghub/images/units-icon.png");
}

div.ctx-menu {
    /*clear:both;*/
    float: right;
    text-align: right; /*position:absolute;*/
}

ul.ctx-menu {

    /*float:right;*/
    /*display: none; *//*width: 120px;*/
    font-size: 14px;
    /*white-space: nowrap;*/
    padding-right: 10px;
    /*padding: 5px;*/
    /*float: right;*/
    display: table-cell;
    /*position: absolute;*/
    /*right: 0px;*/
    /*top: 23px;*/
    text-align: left; /*z-index:400;*/
    font-size: 12px; /*font-color: #666;*/
    background-color: #FFF !important;
    background-image: none;
!important;

}

ul.ctx-menu li a {
    color: #957752;
    font-weight: normal;
    text-decoration: none;
    font-size: 11px;
}

.alternate-color {
    background-color: #FBF7EA;
}

ul.ctx-menu li div.td {
    /*line-height: 25px;*/
}

.ctx-icon {
    width: 25px;
    height: 25px;
}

.edit-icon {
    background-image: url('/scoutinghub/images/edit-icon.png')
}

.add-icon {
    background-image: url('/scoutinghub/images/add-icon.png')
}

.delete-icon {
    background-image: url('/scoutinghub/images/delete-icon.png')
}

.no-bottom-border {
    /*border-bottom:0px;*/
}

.menu-icon {
    float: left;
}

.menu-text {
    /*float:left;*/
    /*padding-left: 35px;*/
    /*padding-right: 35px;*/
    /*margin-left: 75px;*/
    /*margin-right: 10px;*/
}

.ctx-menu-item {
    /*margin-bottom: 6px;*/
    display: table-cell;
    vertical-align: middle;
    /*clear:left;*/
    width: 250px;
    line-height: 14px;
}

.ctx-menu-item .ui-icon {
    /*line-height: 20px;*/
    display: inline-block;
    vertical-align: middle;
    height: 18px;
    background-image: url("../js/jquery-ui-1.8.11.custom/css/start/images/ui-icons_056b93_256x240.png") !important;
}

div.header-menu {
    border: 1px solid transparent; /*text-align:right;*/
    float: right;
    z-index: 9999999;

}

li.permission {
    display: table-row;
}

div.permission-label {
    display: table-cell;
}

div.permission-label {
    display: table-cell;
    padding-right: 10px;
}

div.permission-checkbox {
    display: table-cell;
}

div.loading-spinner {
    width: 100%;
    height:100px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

th.trainingReport {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
!important
}

.smaller-header {
    background-image: none;
    padding: 5px;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}

.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}

.paginateButtons span {
    padding: 2px 3px;
}





